<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for booking, <%= @passenger["name"] %></h1>
    <p>
      You have successfully booked a flight with Odin Flights! Hooray you!
    </p>
    <p>
      To login and see your booking, just follow this link: :D
    </p>
    <p> Thanks again for your money and have a swonderful day!!</p>
  </body>
</html>
